@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background-color: #f8fafc; /* SaaS 常用的极浅灰蓝色底 */
  color: #0f172a;
  font-family: 'Inter', -apple-system, sans-serif;
}
